.todo-list {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.todo-list__toolbar {
  margin-bottom: 15px;
}

.todo-list__items {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding-right: 5px;
  overflow-y: auto;
}
