.watcher {
  width: 60px;
  height: 60px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.watcher_unicorn {
  background-image: url(../../assets/images/unicorn.svg);
}
