* {
  box-sizing: border-box;
  outline: none;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  width: 9px;
  border-radius: 5px;
  background-color: #a9c4d3;
}

body {
  margin: 0;
  padding: 0;
  background-color: #c2e2f2;
}

a {
  text-decoration: none;
  color: #fff;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  justify-content: center;
}
