.custom-button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: fit-content;
}

.custom-button_disabled {
  opacity: 0.3;
}

.custom-button:not(.custom-button_disabled) {
  cursor: pointer;
}

.custom-button__icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.custom-button__add-icon {
  background-image: url(../../assets/icons/add.svg);
}

.custom-button__remove-icon {
  background-image: url(../../assets/icons/remove.svg);
}

.custom-button__clear-icon {
  background-image: url(../../assets/icons/clear.svg);
}

.custom-button__cancel-icon {
  background-image: url(../../assets/icons/cancel.svg);
}

.custom-button__start-icon {
  background-image: url(../../assets/icons/start.svg);
}

.custom-button__pause-icon {
  background-image: url(../../assets/icons/pause.svg);
}

.custom-button__completed-icon {
  background-image: url(../../assets/icons/completed.svg);
}

.custom-button__save-icon {
  background-image: url(../../assets/icons/save.svg);
}

.custom-button__edit-icon {
  background-image: url(../../assets/icons/edit.svg);
}

.custom-button__clear-field-icon {
  background-image: url(../../assets/icons/clear-field.svg);
}
